.formlogin {
  color:whitesmoke;
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 18px;
}

input {
  border: grey;
  border-radius: 15px;
  padding: 8px;
}

.button-form {
  padding: 8px;
  border-radius: 15px;
  width: 150px;
  background-color: black;
  color: whitesmoke;
  margin-bottom: 10px;
  font-family: Tahoma, sans-serif;
  
}

.button-form:hover {
  background-color: whitesmoke;
  color: black;
}

.formcolors{
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  border-radius: 15px;
  position:absolute;
  right: 40px;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formtitle {
  color:whitesmoke;
  font-family:  Tahoma , sans-serif;
  text-align: center;
  font-weight: 100;
}

.formstyle {
  background-image: 
  url('https://images.unsplash.com/photo-1630699144789-3eecc2bf409d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

